---
on:
  schedule:
    - cron: "0 5 * * */3"
name: Ansible Lint Main - Scheduled

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint Ansible Playbook
        uses: ./action-lint
